[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-order = "*"

[dev-packages]
build = "*"
pytest-cov = "*"
pytest = "*"
pytest-asyncio = "*"
pylint = "*"

[requires]
python_version = "3.8"
